@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');
*{  
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
}

body{
    background-color: var(--light-grayish-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.container{
    background: white;
    border-radius: 1rem;
    max-width: 25rem;
    height: auto;
}

#drawer-img-col{
    padding: 0!important;
}

.drawer-img{
    border-radius: 1rem 1rem 0 0;
}



.title{
    font-size:1.25rem;
    line-height: 1.5;
    font-weight: 800;
    color: var(--very-dark-grayish-blue);
    text-align: left;
    padding: 1.5rem 1.5rem  0 1.5rem ;
    margin-bottom: 1rem;
}

.subtitle{
    color: var(--desaturated-dark-blue);
    font-weight: 600;
    font-size: 1.02rem;
    text-align: left;
    padding: 0 1.5rem;
    margin-bottom: 3rem;
}

.michelle-avatar{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    content: url("../images/avatar-michelle.jpg");
}

.share-button{
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--light-grayish-blue);
    -webkit-mask: url("../images/icon-share.svg") no-repeat center;
    mask: url("../images/icon-share.svg") no-repeat center;
    object-fit: scale-down;
    cursor: pointer;
    display: none;
}

.share-background{
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    background: var(--desaturated-dark-blue);
    border-radius: 50%;  
    display: none;
    justify-content: space-evenly;
    margin-top: 4px;
    margin-left: -29px;
}

.share-row{
    justify-content: space-evenly;
}

.author-info{
    padding: 0 1rem 0 1rem;
}

.name{
    color: var(--very-dark-grayish-blue);
    font-weight: 800;
}

.date{
    color: var(--grayish-blue);
}

.share-button:hover{
    background-color: var(--light-grayish-blue);
}

.share-background:hover{
    background: var(--very-dark-grayish-blue);
}


.popover{
    background: var(--very-dark-grayish-blue);
    border-radius: 0.5rem;
}

.popover-body{
    color: var(--light-grayish-blue);
}

.popover-arrow::after{
    border-top-color: var(--very-dark-grayish-blue)!important;
}

.author-info{
    padding: 0 2rem 2rem 2rem;
    border-radius: 0 0 1rem 1rem;
}

.facebook-button{
    width: 3rem;
    height: 3rem;
    content: url("../images/icon-facebook.svg");
    object-fit: scale-down;
    cursor: pointer;
}

.twitter-button{
    width: 3rem;
    height: 3rem;
    content: url("../images/icon-twitter.svg");
    object-fit: scale-down;
    cursor: pointer;
}

.pinterest-button{
    width: 3rem;
    height: 3rem;
    content: url("../images/icon-pinterest.svg");
    object-fit: scale-down;
    cursor: pointer;
}

.share-text{
    display: flex;
    color: var(--grayish-blue);
    align-items: center;
   
}
.popover{
    width: fit-content;
}

.share-button-mobile{
    width: 3rem;
    height: 3rem;
    background-color: var(--light-grayish-blue);
    content: url("../images/icon-share.svg");
    cursor: pointer;
    object-fit: scale-down;
    display: flex;
    align-items: center;
    border-radius: 50%;
}

.author-info-mobile-active-state{
    background-color: var(--very-dark-grayish-blue);
    padding: 1rem 2rem 1rem 2rem;
    border-radius:  0 0 1rem 1rem;
    display: none;
}

.author-info-desktop-active-state{
    background-color: var(--very-dark-grayish-blue);
    padding-left: 1rem;
    padding-right: 1rem;
}

@media screen and (min-width: 992px){
    .container{
        width: 100%;
        height: auto;
        padding-bottom: 0;
        max-width: 850px;
    }

    .drawer-img{
        border-radius: 1rem 0 0 1rem;
        height: auto;
        
        object-fit: cover
    }

    .title{
        font-size: 1.7rem;
        margin-bottom: 1rem;
    }

    .subtitle{
        font-size: 1.08rem;
        margin-bottom: 1.5rem;
    }

    .author-info{
        padding: 0 2rem 0rem 2rem;
    }

    .share-background{
        display: flex;
    }

    .share-button{
        display: flex;
    }

    .share-button-mobile{
        display: none;
    }

    .author-info-mobile-active-state{
        display: none!important;
    }
    .author-info{
        display: block!important;
    }

    .share-button{
        background-color: var(--very-dark-grayish-blue);
    }
    
    .share-background{
        background: var(--light-grayish-blue);
    }

    .title{
        padding: 1.5rem 1.5rem  0 1.5rem ;
    }
}
    

